//Basics
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	background-color: #E3E2E7;
	overflow: hidden;
}

.iconosSidebar{
	max-width: 75%;
}

.mrl{
	margin-left: 3%;
}

.divRedondo{
	border-radius: 10px;
}
//Color Variables
$sidebar-background-color: #E0D7F6;
$active-sidebar-link-color: #9259F5;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #fff;
$tooltip-background-color: $sidebar-background-color;

.sidebar-navigation {
	min-height: 100vh;
	width: 100px;
	background-color: $sidebar-background-color;
	float: left;
    display:flex;
	
	ul {
		color: white;

		li {
			padding: 20px 0;
			cursor: pointer;
			transition: all ease-out 120ms;
            display: flex; /* Centra verticalmente */
            align-items: center; /* Centra verticalmente */
			color: #9259F5;
			i {
				// display: block;
				// font-size: 24px;
				// transition: all ease 450ms;
			}
			
			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: $tooltip-background-color;
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: -26px;
				left: 110px;
				opacity: 0;
				visibility: hidden;
				font-size: 14px;
				letter-spacing: .5px;
				color: black;
				font-weight:500;
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}
			
			&:hover {
				background-color: #d7c6f3; 
				.tooltip {
					visibility: visible;
					opacity: 9;
				}	
			}
			
			&.active {
					
				i {
					color: $active-link-color;
				}
			}

		}
	}
}